*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "left middle right"
    "left footer right"
    ;
}
.header{
    grid-area: header;
    background-color: blue;
}
.header > h1{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
}
.left{
    grid-area: left;
    background-color:yellow;
}
.left .cajas{
    height: 70%;
    background-color: black;
    overflow-y: scroll;
}
.left .cajas > div{
    margin-bottom: 5px;
    height: 8vh;
    background-color: pink;
}
.botones {
    height: 30%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box {
    background-color: white;
    padding: 25px 25px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 7px;
}

.systems {
    font-size: 20px;    
}

.cabin {
    font-size: 30px;
    font-weight: bold;
}
.middle{
    display: grid;
    grid-area: middle;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "caja_1 caja_1 caja_2 caja_2 caja_3 caja_3 caja_4 caja_4"
    "caja_1 caja_1 caja_2 caja_2 caja_3 caja_3 caja_4 caja_4"
    "caja_5 caja_6 caja_10 caja_10 caja_10 caja_10 caja_7 caja_8"
    "caja_5 caja_6 caja_10 caja_10 caja_10 caja_10 caja_7 caja_8"
    "caja_9 caja_9 caja_10 caja_10 caja_10 caja_10 . ."
    "caja_9 caja_9 caja_10 caja_10 caja_10 caja_10 . ."
    "caja_9 caja_9 caja_10 caja_10 caja_10 caja_10 . ."
    "caja_9 caja_9 caja_10 caja_10 caja_10 caja_10 . ."
    ;
}
.caja_1{
    grid-area: caja_1;
    background-color: green;
}
.caja_2{
    grid-area: caja_2;
    background-color: red;
}
.caja_3{
    grid-area: caja_3;
    background-color: brown;
}
.caja_4{
    grid-area: caja_4;
    background-color: violet;
}
.caja_5{
    grid-area: caja_5;
    background-color: pink;
}
.caja_6{
    grid-area: caja_6;
    background-color: purple;
}
.caja_7{
    grid-area: caja_7;
    background-color: green;
}
.caja_8{
    grid-area: caja_8;
    background-color: red;
}
.caja_9{
    grid-area: caja_9;
    background-color: grey;
}
.caja_10{
    grid-area: caja_10;
    background-color: yellow;
}
.right{
    grid-area: right;
    background-color:green;
}
.barras{
    height: 80%;
}
.barras > div{
    margin-bottom: 5px;
    height: 8vh;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.button{
    height: 20%;
    display: flex;
    justify-content: center;
}
.button > button{
    width: 40%;
    height: 40%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}
.footer{
    grid-area: footer;
    background-color: burlywood;
}
.views{
    display: flex;
    justify-content: space-around;
}
